<h1>About Toy Cantina</h1>
<h3>We specialize in selling vintage toys that are works of art in their own right.</h3>
<p>I started collecting vintage toys because I thought it was cool to display them as art that can also be played with. Toys are unlike other art forms in that they beg to be played with in all their gimmicky goodness. </p>
<p>Each piece for sale has been carefully selected </p>
