<div class="panel panel-default">
  <div class="panel-body">
    <p>Transmission received, we'll get back to you faster than in took Han to make the Kessel run</p>

    <p><%= link_to 'Back to home', simple_pages_landing_page_path, class: "btn btn-dark" %></p>
  </div><!-- / panel-body -->
</div><!-- / panel -->
