// Place all the styles related to the simple_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  background-color: #1C8A43;
  // #79af13
  text-align: center;
  // padding-left: 3em;
  // padding-right: 3em;
}

div {
  // padding: 5px;
}

h1 {
  color: #890101;
  font-size: 5em;
  font-family: 'Roboto';
}

h2 {
  font-size: 3em;
}

h3 {
  font-size: 1.5em;
}

.average_rating p {
  font-size: 1.5em;
}

p {
  font-size: 2em;
  line-height: 1em;
}

img {
  // max-width: 20%;
}

.header-logo {
  max-width: 35vw;
  margin-top: 25px;
  @media (min-width: 992px) {
    max-width: 20vw;
  }
  // @include media-breakpoint-up(lg) {
  //   max-width: 20vw;
  // }
}

// nav {
//   position: fixed;
//   max-height: 3.5em;
//   width: 100% !important;
//   top: 0;
//   left: 0;
//   padding: 2px;
//   background: #000;
// }
//
.navbar-dark
.navbar-nav
.active>.nav-link,
.navbar-dark
.navbar-nav
.nav-link.active,
.navbar-dark
.navbar-nav
.nav-link.show,
.navbar-dark
.navbar-nav
.show>.nav-link  {
//   text-decoration: none;
//   color: #D6F5D6;
  // font-size: 25px;
//   padding: 4px 4px;
//   text-align: center;
}

.container-notices {
  z-index: 1;
}
.navbar-dark
.navbar-nav
.nav-link {
  font-size: 25px;
    color: #D6F5D6;
    // z-index: -1;
    padding-bottom: 15px;
}

.navbar-brand__logo{
  width: 35px;
  height: 35px;
}
.nav-link {
  display: inline;
}

form {
  padding: 7px 6px;
}

.submit button {
  padding: 2px;
}

.row {
  border: 1px #000;
  background-color: white;
}

.landing-page {
  margin-top: 5px;
}


.carousel {
  max-height: 5%;
  max-width: 30%;
  margin: 0 auto;
  // overflow: hidden;
}

.carousel-control-next {
  margin-bottom: 1em;
  margin-top: 1em;
}

.carousel-control-prev {
  margin-bottom: 1em;
  margin-top: 1em;
}

// nav a:hover {
//   background: #F4E3FC;
//   color: black;
// }
.contact-page{
  padding: 15px;
  overflow-wrap: break-word;
}

.contact_button{
  margin-bottom: 5px;
}
