<h1>New Product</h1>
<h2>Sorry adding a product is an admin privelage only. If you are an admin please make sure you are logged in</h2>

<% if current_user && current_user.admin? %>

<%= render 'form', product: @product %>

<%= link_to 'Back', products_path %>

  <!-- <# else %> -->
  <!-- < # redirect_to product_path(@product) %> -->

<% end %>
